.container {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  color: white;
  margin: auto;
}

@media screen and (max-width: 720px) {
  .container {
    flex-direction: column;
  }
}

.topo {
  width: auto;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 10px;
  padding-top: 10px;
  gap: 10px;
}

.topo {
  text-transform: capitalize;
  font-size: 1.2em;
}

@media screen and (max-width: 720px) {
  .topo {
    margin-left: 10px;
  }
}
